@layer theme{
    :root,:host{
        --color-red-50:#fef2f3;
        --color-red-100:#fde3e4;
        --color-red-200:#fccccc;
        --color-red-300:#f9a8ad;
        --color-red-400:#f3767d;
        --color-red-500:#e84b54;
        --color-red-600:#d52d37;
        --color-red-700:#ac2129;
        --color-red-800:#942027;
        --color-red-900:#7b2126;
        --color-orange-600:#f05100;
        --color-yellow-200:#fff085;
        --color-yellow-400:#fac800;
        --color-yellow-500:#edb200;
        --color-yellow-600:#cd8900;
        --color-yellow-700:#a36100;
        --color-yellow-800:#874b00;
        --color-green-400:#05df72;
        --color-green-500:#00c758;
        --color-green-600:#00a544;
        --color-green-700:#008138;
        --color-green-800:#016630;
        --color-emerald-400:#00d294;
        --color-cyan-400:#00d2ef;
        --color-cyan-500:#00b7d7;
        --color-cyan-600:#0092b5;
        --color-cyan-700:#007492;
        --color-sky-500:#00a5ef;
        --color-sky-600:#0084cc;
        --color-sky-700:#0069a4;
        --color-blue-50:#eff6ff;
        --color-blue-100:#dbeafe;
        --color-blue-200:#bedbff;
        --color-blue-400:#54a2ff;
        --color-blue-500:#3080ff;
        --color-blue-600:#155dfc;
        --color-blue-700:#1447e6;
        --color-blue-800:#193cb8;
        --color-blue-900:#1c398e;
        --color-indigo-400:#7d87ff;
        --color-indigo-500:#625fff;
        --color-indigo-600:#4f39f6;
        --color-indigo-700:#432dd7;
        --color-purple-400:#c07eff;
        --color-purple-500:#ac4bff;
        --color-purple-600:#9810fa;
        --color-purple-900:#59168b;
        --color-fuchsia-400:#ec6cff;
        --color-rose-400:#ff667f;
        --color-rose-500:#ff2357;
        --color-rose-600:#e70044;
        --color-rose-700:#c20039;
        --color-gray-200:#e5e7eb;
        --color-gray-400:#99a1af;
        --color-gray-500:#6a7282;
        --color-gray-800:#1e2939;
        --color-zinc-100:#f4f4f5;
        --color-zinc-200:#e4e4e7;
        --color-zinc-300:#d4d4d8;
        --color-zinc-400:#9f9fa9;
        --color-zinc-500:#71717b;
        --color-zinc-600:#52525c;
        --color-zinc-900:#18181b;
        --color-black:#000;
        --color-white:#fff;
        --spacing:.25rem;
        --container-sm:24rem;
        --container-md:28rem;
        --container-lg:32rem;
        --container-xl:36rem;
        --container-2xl:42rem;
        --container-3xl:48rem;
        --container-4xl:56rem;
        --container-5xl:64rem;
        --container-6xl:72rem;
        --container-7xl:80rem;
        --text-xs:.75rem;
        --text-xs--line-height:calc(1/.75);
        --text-sm:.875rem;
        --text-sm--line-height:calc(1.25/.875);
        --text-base:1rem;
        --text-base--line-height:calc(1.5/1);
        --text-lg:1.125rem;
        --text-lg--line-height:calc(1.75/1.125);
        --text-xl:1.25rem;
        --text-xl--line-height:calc(1.75/1.25);
        --text-2xl:1.5rem;
        --text-2xl--line-height:calc(2/1.5);
        --text-3xl:1.875rem;
        --text-3xl--line-height:calc(2.25/1.875);
        --text-4xl:2.25rem;
        --text-4xl--line-height:calc(2.5/2.25);
        --text-5xl:3rem;
        --text-5xl--line-height:1;
        --text-6xl:3.75rem;
        --text-6xl--line-height:1;
        --text-7xl:4.5rem;
        --text-7xl--line-height:1;
        --text-8xl:6rem;
        --text-8xl--line-height:1;
        --text-9xl:8rem;
        --text-9xl--line-height:1;
        --font-weight-normal:400;
        --font-weight-medium:500;
        --font-weight-semibold:600;
        --font-weight-bold:700;
        --font-weight-extrabold:800;
        --tracking-tight:-.025em;
        --tracking-wider:.05em;
        --tracking-widest:.1em;
        --leading-tight:1.25;
        --leading-snug:1.375;
        --leading-normal:1.5;
        --leading-relaxed:1.625;
        --drop-shadow-2xl:0 25px 25px rgba(0,0,0,.15);
        --ease-in-out:cubic-bezier(.4,0,.2,1);
        --animate-spin:spin 1s linear infinite;
        --animate-ping:ping 1s cubic-bezier(0,0,.2,1)infinite;
        --animate-pulse:pulse 2s cubic-bezier(.4,0,.6,1)infinite;
        --blur-xs:4px;
        --blur-sm:8px;
        --blur-2xl:40px;
        --blur-3xl:64px;
        --aspect-video:16/9;
        --default-transition-duration:.15s;
        --default-transition-timing-function:cubic-bezier(.4,0,.2,1);
        --default-font-family:var(--font-inter);
        --default-mono-font-family:var(--font-fira);
        --color-virtus-50:#e8e8e9;
        --color-virtus-100:#b7b9bc;
        --color-virtus-200:#95979b;
        --color-virtus-300:#64686e;
        --color-virtus-400:#464a51;
        --color-virtus-500:#181d26;
        --color-virtus-600:#161a23;
        --color-virtus-700:#11151b;
        --color-virtus-800:#0b0e13;
        --color-virtus-900:#0a0c10;
        --color-success:var(--color-green-500);
        --color-destructive:var(--color-red-500);
        --color-discord-blurple:#5562ea;
        --color-muted-foreground:var(--text-color-muted);
        --text-color-link:var(--blue-400);
        --text-color-primary:var(--color-virtus-50);
        --text-color-secondary:var(--color-virtus-100);
        --text-color-semi-muted:var(--color-virtus-300);
        --text-color-muted:var(--color-virtus-300);
        --text-color-tertiary:var(--color-virtus-200);
        --color-background:#0b0e13;
        --color-foreground:var(--color-virtus-100);
        --color-popover:var(--color-virtus-800);
        --color-popover-foreground:var(--text-color-secondary);
        --color-card:var(--color-virtus-800);
        --color-card-foreground:var(--text-color-primary);
        --color-primary:var(--color-virtus-50);
        --color-primary-foreground:var(--color-virtus-900);
        --color-secondary-foreground:var(--text-color-secondary);
        --color-muted:var(--color-virtus-900);
        --color-accent:var(--color-virtus-700);
        --color-accent-foreground:var(--text-color-primary);
        --color-border:var(--color-border-primary);
        --color-border-primary:var(--color-virtus-500);
        --color-border-secondary:var(--color-virtus-600);
        --color-border-tertiary:var(--color-virtus-700);
        --color-input:var(--color-virtus-700);
        --color-ring:var(--color-blue-700)
    }
    @supports (color:color(display-p3 0 0 0)){
        :root,:host{
            --color-orange-600:color(display-p3 .887467 .341665 .0219962);
            --color-yellow-200:color(display-p3 .988789 .943116 .579188);
            --color-yellow-400:color(display-p3 .959941 .790171 .0585198);
            --color-yellow-500:color(display-p3 .903651 .703062 .0745389);
            --color-yellow-600:color(display-p3 .776342 .542492 .041709);
            --color-yellow-700:color(display-p3 .613146 .386658 .0579687);
            --color-yellow-800:color(display-p3 .503181 .30478 .075537);
            --color-green-400:color(display-p3 .399536 .862346 .49324);
            --color-green-500:color(display-p3 .308734 .774754 .374307);
            --color-green-600:color(display-p3 .243882 .640824 .294808);
            --color-green-700:color(display-p3 .198355 .501799 .245335);
            --color-green-800:color(display-p3 .168568 .395123 .211217);
            --color-emerald-400:color(display-p3 .334701 .819603 .591575);
            --color-cyan-400:color(display-p3 .294638 .813991 .934996);
            --color-cyan-500:color(display-p3 .246703 .710032 .841444);
            --color-cyan-600:color(display-p3 .193249 .564651 .707197);
            --color-cyan-700:color(display-p3 .164124 .451431 .570574);
            --color-sky-500:color(display-p3 .219113 .639027 .931479);
            --color-sky-600:color(display-p3 .162505 .509376 .796082);
            --color-sky-700:color(display-p3 .130314 .404568 .640847);
            --color-blue-50:color(display-p3 .941826 .963151 .995385);
            --color-blue-100:color(display-p3 .869214 .915931 .989622);
            --color-blue-200:color(display-p3 .76688 .855207 .987483);
            --color-blue-400:color(display-p3 .397443 .62813 .992116);
            --color-blue-500:color(display-p3 .266422 .491219 .988624);
            --color-blue-600:color(display-p3 .174493 .358974 .950247);
            --color-blue-700:color(display-p3 .1379 .274983 .867624);
            --color-blue-800:color(display-p3 .134023 .230647 .695537);
            --color-blue-900:color(display-p3 .136395 .219428 .537145);
            --color-indigo-400:color(display-p3 .494992 .525291 .985107);
            --color-indigo-500:color(display-p3 .380374 .372235 .971707);
            --color-indigo-600:color(display-p3 .297656 .227891 .929242);
            --color-indigo-700:color(display-p3 .251282 .180274 .81203);
            --color-purple-400:color(display-p3 .719919 .492497 .995173);
            --color-purple-500:color(display-p3 .629519 .30089 .990817);
            --color-purple-600:color(display-p3 .546729 .130167 .94439);
            --color-purple-900:color(display-p3 .321698 .107597 .524563);
            --color-fuchsia-400:color(display-p3 .86677 .447756 .979034);
            --color-rose-400:color(display-p3 .942928 .430764 .503101);
            --color-rose-500:color(display-p3 .921824 .240748 .355666);
            --color-rose-600:color(display-p3 .848792 .102011 .269259);
            --color-rose-700:color(display-p3 .711801 .0770816 .226777);
            --color-gray-200:color(display-p3 .899787 .906171 .92106);
            --color-gray-400:color(display-p3 .605734 .630385 .680158);
            --color-gray-500:color(display-p3 .421287 .446085 .504784);
            --color-gray-800:color(display-p3 .125854 .159497 .216835);
            --color-zinc-100:color(display-p3 .956385 .956385 .959079);
            --color-zinc-200:color(display-p3 .894477 .894477 .905114);
            --color-zinc-300:color(display-p3 .831087 .831083 .846819);
            --color-zinc-400:color(display-p3 .622604 .622563 .659842);
            --color-zinc-500:color(display-p3 .442983 .442931 .480324);
            --color-zinc-600:color(display-p3 .321166 .321093 .358668);
            --color-zinc-900:color(display-p3 .0937957 .093793 .104806)
        }
    }
    @supports (color:lab(0% 0 0)){
        :root,:host{
            --color-orange-600:lab(57.1026% 64.2584 89.8886);
            --color-yellow-200:lab(94.3433% -5.00429 52.9663);
            --color-yellow-400:lab(83.2664% 8.65132 106.895);
            --color-yellow-500:lab(76.3898% 14.5258 98.4589);
            --color-yellow-600:lab(62.7799% 22.4197 86.1544);
            --color-yellow-700:lab(47.8202% 25.2426 66.5015);
            --color-yellow-800:lab(38.7484% 23.5833 51.4916);
            --color-green-400:lab(78.503% -64.9265 39.7492);
            --color-green-500:lab(70.5521% -66.5147 45.8073);
            --color-green-600:lab(59.0978% -58.6621 41.2579);
            --color-green-700:lab(47.0329% -47.0239 31.4788);
            --color-green-800:lab(37.4616% -36.7971 22.9692);
            --color-emerald-400:lab(75.0771% -60.7313 19.4147);
            --color-cyan-400:lab(76.6045% -40.9406 -29.6231);
            --color-cyan-500:lab(67.805% -35.3952 -30.2018);
            --color-cyan-600:lab(55.1767% -26.7496 -30.5139);
            --color-cyan-700:lab(44.7267% -21.5987 -26.118);
            --color-sky-500:lab(63.3038% -18.433 -51.0407);
            --color-sky-600:lab(51.7754% -11.4712 -49.8349);
            --color-sky-700:lab(41.6013% -9.10804 -42.5647);
            --color-blue-50:lab(96.492% -1.14644 -5.11479);
            --color-blue-100:lab(92.0301% -2.24757 -11.6453);
            --color-blue-200:lab(86.15% -4.04379 -21.0797);
            --color-blue-400:lab(65.0361% -1.42065 -56.9802);
            --color-blue-500:lab(54.1736% 13.3369 -74.6839);
            --color-blue-600:lab(44.0605% 29.0279 -86.0352);
            --color-blue-700:lab(36.9089% 35.0961 -85.6872);
            --color-blue-800:lab(30.2514% 27.7853 -70.2699);
            --color-blue-900:lab(26.1542% 15.7545 -51.5504);
            --color-indigo-400:lab(59.866% 22.4834 -64.4485);
            --color-indigo-500:lab(48.295% 38.3129 -81.9673);
            --color-indigo-600:lab(38.4009% 52.6132 -92.3857);
            --color-indigo-700:lab(32.4486% 49.2217 -84.6695);
            --color-purple-400:lab(63.6946% 47.6127 -59.2066);
            --color-purple-500:lab(52.0183% 66.11 -78.2316);
            --color-purple-600:lab(43.0295% 75.21 -86.5669);
            --color-purple-900:lab(24.9401% 45.2703 -51.2728);
            --color-fuchsia-400:lab(66.1178% 66.0652 -52.4733);
            --color-rose-400:lab(64.4125% 63.0291 19.2068);
            --color-rose-500:lab(56.101% 79.4328 31.4532);
            --color-rose-600:lab(49.1882% 81.577 36.0311);
            --color-rose-700:lab(41.1651% 71.6251 30.3087);
            --color-gray-200:lab(91.6229% -.159115 -2.26791);
            --color-gray-400:lab(65.9269% -.832707 -8.17473);
            --color-gray-500:lab(47.7841% -.393182 -10.0268);
            --color-gray-800:lab(16.1051% -1.18239 -11.7533);
            --color-zinc-100:lab(96.1634% .0993311 -.364041);
            --color-zinc-200:lab(90.6853% .399232 -1.45452);
            --color-zinc-300:lab(84.9837% .601262 -2.17986);
            --color-zinc-400:lab(65.6464% 1.53497 -5.42429);
            --color-zinc-500:lab(47.8878% 1.65477 -5.77283);
            --color-zinc-600:lab(35.1166% 1.78212 -6.1173);
            --color-zinc-900:lab(8.30603% .618205 -2.16572)
        }
    }
}

