/* src/app/styles/globals.css */

:root {
  --color-virtus-800: #1f2937;
  --color-virtus-400: #4b5563;
  --color-blue-500: #3b82f6;
  --text-color-primary: #ffffff;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}
/* Oculta o texto nativo "Nenhum arquivo escolhido" */
input[type="file"]::file-selector-button {
  visibility: hidden;
  width: 0;
  padding: 0;
  margin: 0;
  border: none;
}
.code-input {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--color-virtus-800); /* fundo escuro */
  border: 1px solid var(--color-virtus-400); /* borda sutil */
  color: var(--text-color-primary); /* texto claro */
  border-radius: 0.375rem;
  transition: box-shadow 0.2s ease;
}

.code-input:focus {
  box-shadow: 0 0 0 2px var(--color-blue-500); /* azul suave ao focar */
  border-color: var(--color-blue-500);
}
@layer theme{
    :root,:host{
        --color-red-50:#fef2f3;
        --color-red-100:#fde3e4;
        --color-red-200:#fccccc;
        --color-red-300:#f9a8ad;
        --color-red-400:#f3767d;
        --color-red-500:#e84b54;
        --color-red-600:#d52d37;
        --color-red-700:#ac2129;
        --color-red-800:#942027;
        --color-red-900:#7b2126;
        --color-orange-600:#f05100;
        --color-yellow-200:#fff085;
        --color-yellow-400:#fac800;
        --color-yellow-500:#edb200;
        --color-yellow-600:#cd8900;
        --color-yellow-700:#a36100;
        --color-yellow-800:#874b00;
        --color-green-400:#05df72;
        --color-green-500:#00c758;
        --color-green-600:#00a544;
        --color-green-700:#008138;
        --color-green-800:#016630;
        --color-emerald-400:#00d294;
        --color-cyan-400:#00d2ef;
        --color-cyan-500:#00b7d7;
        --color-cyan-600:#0092b5;
        --color-cyan-700:#007492;
        --color-sky-500:#00a5ef;
        --color-sky-600:#0084cc;
        --color-sky-700:#0069a4;
        --color-blue-50:#eff6ff;
        --color-blue-100:#dbeafe;
        --color-blue-200:#bedbff;
        --color-blue-400:#54a2ff;
        --color-blue-500:#3080ff;
        --color-blue-600:#155dfc;
        --color-blue-700:#1447e6;
        --color-blue-800:#193cb8;
        --color-blue-900:#1c398e;
        --color-indigo-400:#7d87ff;
        --color-indigo-500:#625fff;
        --color-indigo-600:#4f39f6;
        --color-indigo-700:#432dd7;
        --color-purple-400:#c07eff;
        --color-purple-500:#ac4bff;
        --color-purple-600:#9810fa;
        --color-purple-900:#59168b;
        --color-fuchsia-400:#ec6cff;
        --color-rose-400:#ff667f;
        --color-rose-500:#ff2357;
        --color-rose-600:#e70044;
        --color-rose-700:#c20039;
        --color-gray-200:#e5e7eb;
        --color-gray-400:#99a1af;
        --color-gray-500:#6a7282;
        --color-gray-800:#1e2939;
        --color-zinc-100:#f4f4f5;
        --color-zinc-200:#e4e4e7;
        --color-zinc-300:#d4d4d8;
        --color-zinc-400:#9f9fa9;
        --color-zinc-500:#71717b;
        --color-zinc-600:#52525c;
        --color-zinc-900:#18181b;
        --color-black:#000;
        --color-white:#fff;
        --spacing:.25rem;
        --container-sm:24rem;
        --container-md:28rem;
        --container-lg:32rem;
        --container-xl:36rem;
        --container-2xl:42rem;
        --container-3xl:48rem;
        --container-4xl:56rem;
        --container-5xl:64rem;
        --container-6xl:72rem;
        --container-7xl:80rem;
        --text-xs:.75rem;
        --text-xs--line-height:calc(1/.75);
        --text-sm:.875rem;
        --text-sm--line-height:calc(1.25/.875);
        --text-base:1rem;
        --text-base--line-height:calc(1.5/1);
        --text-lg:1.125rem;
        --text-lg--line-height:calc(1.75/1.125);
        --text-xl:1.25rem;
        --text-xl--line-height:calc(1.75/1.25);
        --text-2xl:1.5rem;
        --text-2xl--line-height:calc(2/1.5);
        --text-3xl:1.875rem;
        --text-3xl--line-height:calc(2.25/1.875);
        --text-4xl:2.25rem;
        --text-4xl--line-height:calc(2.5/2.25);
        --text-5xl:3rem;
        --text-5xl--line-height:1;
        --text-6xl:3.75rem;
        --text-6xl--line-height:1;
        --text-7xl:4.5rem;
        --text-7xl--line-height:1;
        --text-8xl:6rem;
        --text-8xl--line-height:1;
        --text-9xl:8rem;
        --text-9xl--line-height:1;
        --font-weight-normal:400;
        --font-weight-medium:500;
        --font-weight-semibold:600;
        --font-weight-bold:700;
        --font-weight-extrabold:800;
        --tracking-tight:-.025em;
        --tracking-wider:.05em;
        --tracking-widest:.1em;
        --leading-tight:1.25;
        --leading-snug:1.375;
        --leading-normal:1.5;
        --leading-relaxed:1.625;
        --drop-shadow-2xl:0 25px 25px rgba(0,0,0,.15);
        --ease-in-out:cubic-bezier(.4,0,.2,1);
        --animate-spin:spin 1s linear infinite;
        --animate-ping:ping 1s cubic-bezier(0,0,.2,1)infinite;
        --animate-pulse:pulse 2s cubic-bezier(.4,0,.6,1)infinite;
        --blur-xs:4px;
        --blur-sm:8px;
        --blur-2xl:40px;
        --blur-3xl:64px;
        --aspect-video:16/9;
        --default-transition-duration:.15s;
        --default-transition-timing-function:cubic-bezier(.4,0,.2,1);
        --default-font-family:var(--font-inter);
        --default-mono-font-family:var(--font-fira);
        --color-virtus-50:#e8e8e9;
        --color-virtus-100:#b7b9bc;
        --color-virtus-200:#95979b;
        --color-virtus-300:#64686e;
        --color-virtus-400:#464a51;
        --color-virtus-500:#181d26;
        --color-virtus-600:#161a23;
        --color-virtus-700:#11151b;
        --color-virtus-800:#0b0e13;
        --color-virtus-900:#0a0c10;
        --color-success:var(--color-green-500);
        --color-destructive:var(--color-red-500);
        --color-discord-blurple:#5562ea;
        --color-muted-foreground:var(--text-color-muted);
        --text-color-link:var(--blue-400);
        --text-color-primary:var(--color-virtus-50);
        --text-color-secondary:var(--color-virtus-100);
        --text-color-semi-muted:var(--color-virtus-300);
        --text-color-muted:var(--color-virtus-300);
        --text-color-tertiary:var(--color-virtus-200);
        --color-background:#0b0e13;
        --color-foreground:var(--color-virtus-100);
        --color-popover:var(--color-virtus-800);
        --color-popover-foreground:var(--text-color-secondary);
        --color-card:var(--color-virtus-800);
        --color-card-foreground:var(--text-color-primary);
        --color-primary:var(--color-virtus-50);
        --color-primary-foreground:var(--color-virtus-900);
        --color-secondary-foreground:var(--text-color-secondary);
        --color-muted:var(--color-virtus-900);
        --color-accent:var(--color-virtus-700);
        --color-accent-foreground:var(--text-color-primary);
        --color-border:var(--color-border-primary);
        --color-border-primary:var(--color-virtus-500);
        --color-border-secondary:var(--color-virtus-600);
        --color-border-tertiary:var(--color-virtus-700);
        --color-input:var(--color-virtus-700);
        --color-ring:var(--color-blue-700)
    }
  }

.status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.status-running {
  background-color: #22c55e; /* verde */
}

.status-stopped {
  background-color: #facc15; /* amarelo */
}

.status-backups {
  background-color: #9ca3af; /* cinza */
}

.app-item button {
  transition: transform 0.2s ease;
}

.app-item button:hover {
  transform: scale(1.1);
}
